.sidebar{
    background: var(--gray-800);
    border-radius: 8px;
    overflow: hidden;

    img[id='top'] {
        width: 100%;
        height: 72px;
        object-fit: cover;
    }

    div[id='profile'] {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: -2.5rem;

        img {
            width: 4rem;
            height: 4rem;
            border-radius: 16px;

            box-sizing: initial;
            border: 4px solid var(--gray-800);
            outline: 2px solid var(--green-500);
        }

        strong {
            margin-top: 1.25rem;
            color: var(--gray-100);
        }

        span {
            font-size: 0.875rem;
            color: var(--gray-400);
        }
    }

    footer {
        border-top: 0.125rem solid var(--gray-600);
        margin-top: 1.5rem;
        padding: 1.5rem 2rem 2rem;
        text-align: center;

        a {
            font-weight: bold;
            color: var(--green-500);
            border: 0.125rem solid var(--green-500); 
            padding: .35rem 1.5rem;
            border-radius: 8px;

            transition: color 0.1s, background-color 0.1s;

            img {
                vertical-align: top;
                padding-right: 6px;
            }
        }

        a:hover {
            background: var(--green-500);
            color: var(--white);
            /* FIXME: Change pencil icon to white color */
        }
    }
}